html
  head
    title PassportJS auth
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .page
      .inner
        h3.inner__description Try Passport Social Login
        .inner__text This site is a place for testing passport login by social OAUTH
        .login
          a.login__button.login_facebook(href="/auth/facebook") Facebook Log in
          a.login__button.login_twitter(href="/auth/twitter") Twitter Log in
