html
  head
    title PassportJS auth
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .page
      .inner
        h3.inner__description You have logged in
        .inner__text
          = name
          | your email is 
          = email
