html
  head
    title
      | PassportJS auth
  body
    h1
      | hello world
    a(href="/auth/facebook")
      | Facebook Log in
    a(href="/auth/twitter")
      | Twitter Log in
    script(src="/index.js" defer)
